<todo-item>
  <span id='text-field'>{ props.todo.text }</span>
  <span>
    <button onclick={ EmitRemoveItem }>X</button>
  </span>

  <style>
    #text-field {
      padding-right: 10px;
    }

    button {
      color: red;
    }
  </style>

  <script>
  export default {
    EmitRemoveItem() {
      this.props.onRemove(this.props.todo);
    }
  }
  </script>
</todo-item>
