<todo-list>
  <ul>
    <li each={ todo in props.todos }>
      <todo-item todo={ todo } on-remove={ RemoveItem }>
      </todo-item>
    </li>
  </ul>

  <script>
  export default {
    RemoveItem(todo) {
      this.props.onRemove(todo);
    }
  }
  </script>
</todo-list>
